

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-color: var(--bg-color-team);
  border-radius: 4px;
  border: none;
  padding: 6px 24px;
}

.btn-active,
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--acent-color);
  color: var(--white-color);
}

.portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px 0;
  padding: 98px 0 0 0;
}

.portfolio-item {
  margin-right: 8px;
}

.gallery-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 94px;
  margin-right: -30px;
}

.gallery-item {
  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - 30px);
  margin: 0 30px 30px 0;
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.gallery-item-text-container {
  padding: 20px 24px;
}
