/* * SECTION HERO */

.hero {
  background-color: var(--bg-color-acent);
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  width: 696px;
  color: var(--white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
}

.hero-btn {
  background-color: var(--acent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
}

/* * DESCRIPTION */

.desc {
  padding-top: 94px;
  padding-bottom: 94px;
}

.desc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.desc-list {
  display: flex;
  justify-content: space-between;
}

.desc-item {
  width: 270px;
}

.desc-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
  padding-top: 10px;
}

/* * WORK */

.work-title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 94px 0;
}

.work-item {
  margin-right: 30px;
}

.work-item:last-child {
  margin-right: 0;
}

/* * OUR TEAM */

.team {
  background-color: var(--bg-color-team);
  padding-top: 94px;
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 94px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}

.team-item:last-child {
  margin-right: 0;
}

.team-text {
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  padding-top: 10px;
}

.team-container {
  padding: 30px 0;
}
